<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-3 col-2"></div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-8">
                    <div class="row">
                        <div class="col-4 twitter">
                            <center><a style="font-size:3em;"><i class="fab fa-twitter"></i></a></center>
                        </div>
                        <div class="col-4 facebook">
                            <center><a style="font-size:3em;"><i class="fab fa-facebook-f" ></i></a></center>
                        </div>
                        <div class="col-4 instagram">
                            <center><a style="font-size:3em;"><i class="fab fa-instagram"></i></a></center>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-3 col-2"></div>
            </div>
        </div>
    </div>
</div>