<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="">
<title>Titre du site</title>
<link rel="icon" href="https://lh3.ggpht.com/0q9LwYFYAmxo0dDmYA3Pzilp4yrfwI53JhVWR88ZjcTODMk9taeEm3fDefIkFoI3YCI=w300">
<!-- Bootstrap core CSS -->
<link href="/Web/assets/css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/Web/assets/css/album.css" rel="stylesheet">
<!-- Custom css -->
<link href="/Web/assets/css/Custom.css" rel="stylesheet">