<div class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>Vous êtes déjà connecté et ne pouvez pas vous enregistrer à nouveau</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>